create-next-app:use-turbo=false
create-next-app:typescript=true
create-next-app:tailwind=true
create-next-app:eslint=true
create-next-app:app=true
create-next-app:src-dir=true
create-next-app:import-alias=@/*
create-next-app:react-compiler=false